@import 'tailwindcss';

@font-face {
  font-family: 'TAN Aegean';
  src: url('/assets/fonts/tan_aegean.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('/assets/fonts/gotham_medium.otf') format('opentype');
}

@theme {
  --color-custom-white: #f3f3f3;
  --color-dark-white: #dcdbdd;

  --color-dark-blue: #1c3271;
  --color-cobalt-blue: #004aad;

  --color-light-cobalt-blue: color-mix(in srgb, var(--color-cobalt-blue) 70%, var(--color-white));
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  color: black;

  font-family: 'Gotham Medium', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TAN Aegean', serif;
  font-weight: bold;
  color: var(--color-dark-blue);
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  color: var(--color-custom-white);
  background-color: var(--color-dark-blue);
}

a {
  color: var(--color-cobalt-blue);
  text-decoration: none;
}

a:hover {
  color: var(--color-light-cobalt-blue);
  text-decoration: underline;
}
