@import 'tailwindcss';

@font-face {
  font-family: 'TAN Aegean';
  src: url('/assets/fonts/tan_aegean.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('/assets/fonts/gotham_medium.otf') format('opentype');
}

@theme {
  --color-custom-white: #f3f3f3;
  --color-dark-white: #dcdbdd;

  --color-dark-blue: #1c3271;
  --color-cobalt-blue: #004aad;

  --color-light-cobalt-blue: color-mix(in srgb, var(--color-cobalt-blue) 70%, var(--color-white));

  --shadow-left-glow: 0 0 10px black;
  --shadow-center-glow: 0 0 50px rgba(0, 0, 0, 0.75);

  --font-heading: 'TAN Aegean', serif;
}

html {
  scroll-behavior: smooth;

  scrollbar-width: none;
}

body {
  background-color: var(--color-white);
  color: black;

  font-family: 'Gotham Medium', sans-serif;
}

hr {
  border-color: var(--color-dark-blue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: bold;
  color: var(--color-dark-blue);
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  color: var(--color-custom-white);
  background-color: var(--color-dark-blue);
}

a {
  color: var(--color-cobalt-blue);
  text-decoration: none;
}

a:hover {
  color: var(--color-light-cobalt-blue);
  text-decoration: underline;
}

#bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: url("/assets/lines.png") repeat;
  background-size: 400px 400px;
  background-position: 0 0;
  background-attachment: scroll;

  opacity: 0.25;
  z-index: -1;
}
